<!-- Services Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h3 class="section-subheading text-muted">A tentative program will be published here in the coming weeks.</h3> 
                    <!-- This program is tentative. -->
                </div>
            </div>
<!-- ---------------------------- -->
<!-- <h4 class="subheading"> tentative program:</h4> -->

<style>
  .table-container {
    width: 100%; /* Ensure the container spans the full width of the page */
    overflow-x: auto; /* Add horizontal scroll if necessary */
  }

  .programm-table {
    width: 100%;
    border-collapse: collapse;
  }

  .programm-table th,
  .programm-table td {
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
  }

  .programm-table th {
    /* the HEADING*/
    background-color: rgba(128, 128, 128, 0.355); /* Light gray background for heading column */
  }

  .programm-table tr:nth-child(odd) {
    background-color: #e6f0ff;
     /* rgba(128, 128, 128, 0.186); Light gray background for even rows */
  }

  .section-date {
    font-size: x-large;
    font-weight: normal;
    display: inline;
    text-transform: capitalize;
  }

  .table-date {
    /* color: red; Corrected property */
    width: auto; /* Adjust width based on content */
    padding: 0; /* Remove padding */
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }
</style>

<!-- <script>
  function formatText(firstPart, secondPart) {
    return `<span class="bold">${firstPart}</span><br><span class="italic">${secondPart}</span>`;
  }
</script> -->

<!-- <script>
  function generateTalk(time, speaker, title) {
    return `<tr>
        <td><span class="table-date">${time}</span></td>
      <td><span class="bold">${speaker}</span><br><span class="italic">${title}</span></td>
    </tr>`;
  }
    function generateNormalCell(time, Mtext) {
    return `<tr>
        <td><span class="table-date">${time}</span></td>
      <td><span class="italic">${Mtext}</span></td>
    </tr>`;
  }
</script> -->

<!-- Monday -->
<!-- <h4 class="section-date">Monday August, 26</h4>

<div class="table-container">
  <table class="programm-table">
    <thead>
      <tr>
        <th>Heading</th>
        <th>Content</th>
      </tr>
    </thead> -->
    <!-- <tbody>
      <script>
        document.write(generateNormalCell("", "Arrival"));
        document.write(generateNormalCell("11:30 - 12:45", "Welcome buffet"));
        document.write(generateNormalCell("12:45 - 13:00", "Opening"));
        document.write(generateTalk("13:00 - 13:30", "Speaker 1", "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."));
      </script>
    </tbody>
  </table>
</div><br><br> --> 


<!--  Thuesday -->
<!-- <h4 class="section-date">Thuesday August, 27</h4>

<div class="table-container">
  <table class="programm-table">
    <tbody>
      <script>
        document.write(generateTalk("09:00 - 10:00", "Speaker 1", "Cute talk title 1"));
        document.write(generateTalk("09:00 - 10:00", "Speaker 1", "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."));
      </script>
    </tbody>
  </table>
</div><br><br> -->

<!--  Wednesday -->
<!-- <h4 class="section-date">Wednesday August, 28</h4>

<div class="table-container">
  <table class="programm-table">
    <tbody>
      <script>
        document.write(generateTalk("09:00 - 10:00", "Speaker 1", "Cute talk title 1"));
        document.write(generateTalk("09:00 - 10:00", "Speaker 1", "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."));
        document.write(generateNormalCell("Afternoon", "Symposium"));
      </script>
    </tbody>
  </table>
</div><br><br> -->

<!--  Thursday -->
<!-- <h4 class="section-date">Thursday August, 28</h4>

<div class="table-container">
  <table class="programm-table">
    <tbody>
      <script>
        document.write(generateTalk("09:00 - 10:00", "Speaker 1", "Cute talk title 1"));
        document.write(generateTalk("09:00 - 10:00", "Speaker 1", "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."));
        document.write(generateNormalCell("", "Closing remarks"));
        document.write(generateNormalCell("", "Excursion to Insel Mainau with the boat (~4 hours)"));
          
      </script>
    </tbody>
  </table> -->
</div>

        </div>
    </section>
