<!-- Portfolio Grid Section -->
    <section id="announcement" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Announcement</h2>
                    <h3 class="section-subheading text-muted">This page will be updated regularly.</h3>
                </div>
            </div>

        <h4 class="subheading"> Confirmed invited speakers:</h4>

<ul>
<li> Tobias Donner </li>
<li> André Eckardt</li>
  <li> Mikael Rechtsman</li>
  <li> Said-Rodriguez</li>
  <li> Diego Porras</li>
 <li> Natalia Berloff</li>
  <li> Said-Rodriguez</li>
  <li> Rosario Fazio</li>
   <li> Gediminas Juzeliunas</li>
  <li> Luca Barbiero</li>
  <li> Pietro Massignan</li>
<li> Pietro Massignan</li>
<li> Marin Bukov</li>
<li> Florian Meinert</li>
<li> Nicolas Cherroret</li>
<br>
<li> More to come! </li>
</ul>

<br><br>
<!-- ---------------------------- -->
<h4 class="subheading"> Important Dates:</h4>

 <!-- <ul>
  <li>         February 2, 2024</li>
  <li>Registration deadline:       February 2, 2024</li>
  <li> Acceptance notification:   February 16, 2024</li>
</ul>      -->



<table class="list-table">
  <!-- <tr>
    <th></th>
    <th>Column 2</th>
  </tr> -->
  <tr class="even-row">
    <td>Fellowship deadline:</td>
    <td> February 2, 2024</td>
  </tr>
  <tr class="odd-row">
    <td>Registration deadline:</td>
    <td>February 2, 2024</td>
  </tr>
  <tr class="even-row">
    <td>Acceptance notification:</td>
    <td>February 16, 2024</td>
  </tr>
  <!-- Add more rows as needed -->
</table>

        </div>

    </section>


