<!-- Portfolio Grid Section -->
    <section id="announcement" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Announcement</h2>
                    <h3 class="section-subheading text-muted">This page will be updated regularly.</h3>
                </div>
            </div>

        <h4 class="subheading"> Confirmed invited speakers (alphabetical order):</h4>

<ul>
<li>Luca Barbiero</li>
<li>Alberto Biella</li>
<li>Antonine Broweays</li>
<li>Marin Bukov</li>
<li>Alejandro Bermúdez</li>
<li>Natalia Berloff</li>
<li>Nicolas Cherroret</li>
<li>Tobias Donner</li>
<li>André Eckardt</li>
<li>Rosario Fazio</li>
<li>Giulia Ferrini</li>
<li>Gediminas Juzeliunas</li>
<li>Giovanna Morigi</li>
<li>Pietro Massignan</li>
<li>Florian Meinert</li>
<li>Andreas Nunnenkamp</li>
<li>Diego Porras</li>
<li>Mikael Rechtsman</li>
<li>Said Rodriguez</li>
<li>Jonathan Ruhman</li>
<li>Luis Santos</li>
<li>Pasquale Scarlino</li>
<li>Antonio Štrkalj</li>
<li>Cristoph Weitenberg</li>

<br>
<li> More to come! </li>
</ul>

<br><br>
<!-- ---------------------------- -->
<h4 class="subheading"> Important deadlines:</h4>

 <!-- <ul>
  <li>         February 2, 2024</li>
  <li>Registration deadline:       February 2, 2024</li>
  <li> Acceptance notification:   February 16, 2024</li>
</ul>      -->



<table class="list-table">
  <!-- <tr>
    <th></th>
    <th>Column 2</th>
  </tr> -->
  <!-- <tr class="even-row">
    <td>Fellowship:</td>
    <td> TBA</td>
  </tr> -->
  <!-- <tr class="odd-row">
    <td>Registration:</td>
    <td>TBA</td>
  </tr> -->
    <tr class="even-row">
    <td> Early bird registration:</td>
    <td>15.06.24</td>
  </tr>
    </tr>
    <tr class="odd-row">
    <td> Late registration (with proposed contribution):</td>
    <td>15.07.24</td>
  </tr>
    <tr class="even-row">
    <td>Late registration (for attending without contribution):</td>
    <td>20.08.24</td>
  </tr>
  <!-- Add more rows as needed -->
</table>

        </div>

    </section>


