<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organizing Team</h2>
                    <h3 class="section-subheading text-muted">The Workshop is jointly organized by the 
                        <a href="https://www.zilberberg.uni-konstanz.de/home/index.php?id=intro">QUEST</a> 
                        and 
                        <a href="https://www.sqm.physik.lmu.de/index.html">Synthetic Quantum Matter Group</a> 
                        
                        Groups.</h3>

                
                    
                </div>

                 <!-- <ul>
  <li>Kilian Seibold </li>
  <li>Javier del Pino</li>
  <li>Monika Aidelsburger</li>
  <li>Oded Zilberberg</li>
</ul>      -->

</div>
            <!-- <div class="row"> -->
                <!-- <div class="col-lg-12"> -->
                    <ul class="timeline">

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/Kilian_r.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Kilian Seibold <a href= "mailto:kilian.seibold@uni-konstanz.de">📧</a></h4>
                                    <h4 class="subheading">Postdoctoral researcher at university of Konstanz</h4>
                                </div>
                                <!-- <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div> -->
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/Javier.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Javier del Pino <a href= "mailto:javier.del-pino@uni-konstanz.de">📧</a></h4>
                                    <h4 class="subheading">W2 Interim Professor at University of Konstanz</h4>
                                </div>
                                <!-- <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div> -->
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/Aidelsburger_r.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monika Aidelsburger <a href= "mailto:monika.aidelsburger@physik.uni-muenchen.de">📧</a></h4>
                                    <h4 class="subheading">Professor at Ludwig-Maximilians-Universität München</h4>
                                </div>
                                <!-- <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div> -->
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/Oded.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oded Zilberberg <a href= "mailto:oded.zilberberg@uni-konstanz.de">📧</a></h4>
                                    <h4 class="subheading">W3 Heisenberg Professor at University of Konstanz</h4>
                                </div>
                                <!-- <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div> -->
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/Yolanda-Fischer2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Yolanda Fischer<a href= "mailto:yolanda.fischer@uni-konstanz.de">📧</a></h4>
                                    <h4 class="subheading">Quest Group admin.</h4>
                                </div>
                                <!-- <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div> -->
                            </div>
                        </li>


                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </section>
