<!-- About Section -->
    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue & Stay</h2>
                    <h3 class="section-subheading text-muted">The event will take place on the german Riviera of lake Konstanz at<br><br>

                        <!-- <div class="text"> -->
                        <!-- <div style="white-space: pre"> -->
                        Konstanzer Konzil<br>
                        Hafenstrasse 2<br>
                        78462 Konstanz<br>
                        Germany<br>
                        <!-- </div> -->
                        <!-- </div> -->

                    </h3>
                </div>

            </div>

                <!-- IIIIIIIIIIIIIIIIIIIIIIIIIIIIIII -->


<!-- <div class="google-map">
    <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5374.078026522603!2d9.171553091655262!3d47.664238499772495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479af70323540003%3A0xcc6a69d052942cbf!2sSteigenberger%20Inselhotel%2C%20Konstanz!5e0!3m2!1sen!2sde!4v1710771442477!5m2!1sen!2sde" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div> -->

<div class="google-map">
   <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5486.776820411385!2d9.173939863675438!3d47.66137404408343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479af71c8a81114f%3A0x29c001add65e5939!2sHafenstra%C3%9Fe%202%2C%2078462%20Konstanz%2C%20Germany!5e0!3m2!1sen!2sch!4v1710925982806!5m2!1sen!2sch" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>


<!-- IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII -->
<br><br>

<h4 class="subheading"> Arrival information</h4>
 <ul>
  <li> Zürich Airport, Switzerland (ZRH)</li>
  <li> EuroAirport Basel, Switzerland (BSL)</li>
  <li> Stuttgart Airport, Germany (STR)</li>
  <li> Friedrichshafen Airport, Germany (FDH)</li>
  
</ul>     


<br><br>

<h4 class="subheading"> Where to stay</h4>
 <ul>
  <li> Hotel 1</li>
  <li> Hotel 2</li>
  <li> Hotel 3</li>
</ul>   
<br>

 <!-- <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div> -->

     <br>
     <br>       
For logistical issues please contact our fantastic group admin <a href= "mailto:yolanda.fischer@uni-konstanz.de">Yolanda Fischer</a> for assistance.

        </div>
    </section>
