<!-- Welcome Section -->

    <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome</h2>
        </div>
        </div>
                    <ul class="custom-list">
  <li >The workshop will take place from Monday, August 26, till Thursday, August 29, at <span class="quote">&#8220;Konstanzer Konzil&#8221;</span> of Konstanz, Germany. </li>
  <li>The workshop aims at bringing together leading experimentalists and theorists working on collective phenomena in cold atoms, nonlinear optics, and circuit quantum electrodynamics. 
    These phenomena stem from the interplay between quantum many-body interactions, topological order, as well as with dissipation and drives. 
    As such, the envisioned topics span across Non-Equilibrium Phenomena, Statistical Physics, and Quantum Information. 
    We hope that our workshop will provide a setting for a fruitful exchange between various fields and the opportunity for creative new ideas.</li>
  <li>Wednesday, August 28 will be dedicated to a special symposium on 
    <span class="quote">&#8220;Novel Quantum Simulation Schemes and Platforms&#8221;</span>.
</li>
</ul>
            </div>


    </section>
