<!-- Welcome Section -->
    <section id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome</h2>
        </div>
        </div>
                    <ul class="custom-list">
  <li >The workshop will take place from Monday, August 26, till Thursday, August 29, at <span class="quote">&#8220;Konstanzer Konzil&#8221;</span> of Konstanz, Germany. </li>
  <li>The workshop aims at bringing together leading experimentalists and theorists working on collective phenomena in cold atoms, nonlinear optics, and circuit quantum electrodynamics. 
    These phenomena stem from the interplay between quantum many-body interactions, topological order, as well as with dissipation and drives. 
    As such, the envisioned topics span across Non-Equilibrium Phenomena, Statistical Physics, and Quantum Information. 
    We hope that our workshop will provide a setting for a fruitful exchange between various fields and the opportunity for creative new ideas.</li>
  <li>Wednesday, August 28 will be dedicated to a special symposium on 
    <span class="quote">&#8220;Novel Quantum Simulation Schemes and Platforms&#8221;</span>.
</li>
</ul>

<br><br><br>
<style>
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 15%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
</style>

<div class="row">
  <div class="column">
    <img loading="lazy" src="img/logos/quest_logo_black.png" alt="Quest" style="width:90%">
  </div>
  <div class="column">
    <img loading="lazy" src="img/logos/logo-heisenberg-gross-data.jpg" alt="DFG" style="width:90%">
  </div>
  <div class="column">
    <img loading="lazy" src="img/logos/Uni_KN_logo.png" alt="Mountains" style="width:90%">
  </div>
    <!-- <div class="column">
    <img src="img/logos/MPQ.png" alt="Mountains" style="width:90%">
  </div> -->
      <div class="column">
    <img loading="lazy" src="img/logos/MPQ_trans.png" alt="Mountains" style="width:90%">
  </div>
      <div class="column">
    <img loading="lazy" src="img/logos/LMU_Muenchen_Logo.png" alt="Mountains" style="width:90%">
  </div>
</div>



</div>


    </section>
